@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-global, .container-global-html {
  width: 100%;
  height: 100vh;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #d8e33b 0%, #57e6a3 25%, #9844b7 50%, #ddf842 100%);
  animation: AnimateBG 30s ease infinite; }

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.menu-index {
  display: none; }

header {
  width: 100%; }
  header nav {
    width: 100%;
    height: 4em;
    background-color: #000000f7; }

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .navBar li {
    list-style: none;
    padding-top: 15px; }
    .navBar li a {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #ffa237ef;
      text-decoration: none;
      text-shadow: -2px 2px 3px #000000;
      font-size: 25px;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 5px; }
      .navBar li a::before {
        content: '';
        background: linear-gradient(45deg, #d9ff00, #ffe600, #ffa600, #ff5100, #ff3300, #ffa600, #fffb00, #fffb00, #b3ff00);
        position: absolute;
        top: 0px;
        left: -10px;
        background-size: 400%;
        z-index: -1;
        filter: blur(0px);
        width: calc(100% + 22px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px; }
      .navBar li a:active {
        color: #000; }
      .navBar li a:active:after {
        background: transparent; }
      .navBar li a:hover:before {
        opacity: 1; }
      .navBar li a:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 3px; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

.banner {
  margin-top: 0;
  padding-top: 50px;
  display: flex; }
  .banner h1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-size: 6em;
    user-select: none;
    color: #ffa237ef;
    text-shadow: -4px 2px 6px rgba(0, 0, 0, 0.87); }
  .banner img {
    width: 590px;
    height: 280px;
    flex-direction: row; }

main {
  width: 100%; }
  main .button-conoceme {
    display: flex;
    justify-content: center;
    margin-top: 150px; }
    main .button-conoceme a {
      padding: 0 10px;
      border-radius: 10px;
      font-size: 30px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      color: #ffa237;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 2px 2px 19px 6px rgba(254, 254, 255, 0.7);
      transition: all .3s ease; }
      main .button-conoceme a:hover {
        font-size: 35px;
        padding: 10 20px;
        box-shadow: 2px 2px 19px 6px rgba(0, 0, 0, 0.7); }

.boxSobreMi {
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px; }

.boxConoceme {
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px; }

.sobreMi {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left; }
  .sobreMi h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffa237;
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    word-spacing: 10px; }
  .sobreMi p {
    color: #ffa237;
    font-size: 2rem;
    font-family: "Bebas Neue", cursive;
    padding: 40px;
    word-spacing: 2px; }

.conoceme {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left; }
  .conoceme h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffa237;
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    word-spacing: 10px; }
  .conoceme p {
    color: #ffa237;
    font-size: 2rem;
    font-family: "Bebas Neue", cursive;
    padding: 40px;
    word-spacing: 2px; }

.boxHabilidades {
  width: 100%;
  height: 800px;
  margin-top: 150px;
  padding-bottom: 20px;
  column-gap: .5em;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 10% 90%; }
  .boxHabilidades h2 {
    font-family: "Bebas Neue", cursive;
    border-radius: .5em;
    grid-row: 1;
    width: 18em;
    height: 2em;
    padding-top: 0.5em;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    color: #ffa237;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); }
  .boxHabilidades img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 13px 6px rgba(211, 211, 211, 0.6); }
  .boxHabilidades .front {
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #ffa237;
    grid-column: 2;
    grid-row: 2;
    row-gap: 35px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(2, 250px); }
    .boxHabilidades .front h3 {
      padding-top: .5em;
      color: #ffa237;
      text-align: center;
      font-family: "Bebas Neue", cursive; }
    .boxHabilidades .front .img1, .boxHabilidades .front .img2 {
      display: flex;
      justify-content: space-around; }
  .boxHabilidades .back {
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #ffa237;
    grid-column: 3;
    grid-row: 2;
    row-gap: 35px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(2, 250px); }
    .boxHabilidades .back h3 {
      padding-top: .5em;
      color: #ffa237;
      text-align: center;
      font-family: "Bebas Neue", cursive; }
    .boxHabilidades .back .img3, .boxHabilidades .back .img4 {
      display: flex;
      justify-content: space-around; }
  .boxHabilidades .frameworks {
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #ffa237;
    grid-column: 4;
    grid-row: 2;
    row-gap: 35px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(2, 250px); }
  .boxHabilidades h3 {
    padding-top: .5em;
    color: #ffa237;
    text-align: center;
    font-family: "Bebas Neue", cursive; }
  .boxHabilidades .img5 {
    display: flex;
    justify-content: center; }

.container-form .form .form-main .form-tittle {
  text-align: center;
  padding: 14px 0; }

.container-form .form .form-main .form-tittle span {
  color: #ffa237;
  font-family: "Bebas Neue", cursive; }

.container-form .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 150px;
  padding-bottom: 30px;
  border-radius: 3px; }
  .container-form .form .form-label {
    display: block;
    color: #ff851b;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    position: relative; }

.container-form .form .form-input, .form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif; }

.container-form .form.form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.container-form .form .btn-submit {
  width: 100%;
  font-family: "Roboto", sans-serif;
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: #000;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease; }
  .container-form .form .btn-submit:hover {
    background: #f29718; }

.footer .redes-sociales, .footer-contact .redes-sociales, .footer-index .redes-sociales, .footer-contact-2 .redes-sociales {
  width: 100%;
  height: 100px;
  background-color: #000000de;
  display: flex;
  flex-direction: column; }

.footer img, .footer-contact img, .footer-index img, .footer-contact-2 img {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 12px;
  box-shadow: #c7c7c7; }

.footer .imgRedes, .footer-contact .imgRedes, .footer-index .imgRedes, .footer-contact-2 .imgRedes {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer .copyright, .footer-contact .copyright, .footer-index .copyright, .footer-contact-2 .copyright {
  margin-top: 3px;
  display: flex;
  justify-content: center; }
  .footer .copyright h4, .footer-contact .copyright h4, .footer-index .copyright h4, .footer-contact-2 .copyright h4 {
    color: #c7c7c7; }

.footer-contact {
  margin-top: 170px; }

.footer-index {
  margin-top: 300px; }

.footer-contact-2 {
  margin-top: 326px; }

@media (max-width: 2560px) {
  .container-global, .container-global-html {
    height: 100%; }
  .boxSobreMi:first-child .sobreMi {
    background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/mecanica.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .boxSobreMi:nth-child(2) {
    margin-top: 150px; }
    .boxSobreMi:nth-child(2) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/cs.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
  .boxSobreMi:nth-child(3) {
    margin-top: 150px; }
    .boxSobreMi:nth-child(3) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/viajar.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
  .boxSobreMi:nth-child(4) {
    margin-top: 150px; }
    .boxSobreMi:nth-child(4) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/pesca1.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; } }

@media (max-width: 992px) {
  .banner img {
    width: 590px;
    height: 280px;
    align-self: center; } }

.sobreMi {
  padding-top: 20px; }

@media (max-width: 1440px) {
  .container-global, .container-global-html {
    height: 100%; } }

@media (max-width: 1024px) {
  .container-global, .container-global-html {
    height: 100%; }
  header .banner {
    flex-direction: column; }
    header .banner h1 {
      justify-content: center;
      font-size: 3rem; }
    header .banner img {
      width: 500px;
      height: 250px;
      margin-left: 25%; }
  main .sobreMi {
    height: 500px; }
  .boxSobreMi:first-child .sobreMi {
    background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/mecanica.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .boxSobreMi:nth-child(2) {
    margin-top: 150px; }
    .boxSobreMi:nth-child(2) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/cs.png);
      background-repeat: no-repeat;
      background-size: cover; }
  .boxSobreMi:nth-child(3) {
    margin-top: 150px; }
    .boxSobreMi:nth-child(3) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/viajar.png);
      background-repeat: no-repeat;
      background-size: cover; }
  .boxSobreMi:nth-child(4) {
    margin-top: 150px; }
    .boxSobreMi:nth-child(4) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/pesca1.png);
      background-repeat: no-repeat;
      background-size: cover; }
  .boxConoceme .conoceme h2 {
    font-size: 2.5rem; }
  .boxConoceme .conoceme p {
    font-size: 1.5rem; }
  .footer-index {
    margin-top: 200px; } }

@media (max-width: 768px) {
  .container-global, .container-global-html {
    width: 100%;
    height: 100%; }
  .menu {
    background: none; }
  .navBar {
    background: black;
    display: flex;
    padding-left: 0;
    text-align: center;
    flex-direction: column; }
    .navBar li {
      border-bottom: 1px solid #ffa237;
      padding: 5px;
      margin: auto; }
  header .banner {
    margin-top: 0;
    display: flex;
    flex-direction: column; }
    header .banner h1 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 3%;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 3em;
      user-select: none;
      color: #ffa237ef;
      text-shadow: -4px 2px 6px rgba(0, 0, 0, 0.87); }
    header .banner img {
      margin-top: 0;
      margin-left: 0;
      width: 400px;
      height: 200px; }
  .boxSobreMi {
    margin-top: 300px; }
    .boxSobreMi .sobreMi {
      width: 100%;
      height: 430px; }
      .boxSobreMi .sobreMi h2 {
        font-size: 2rem; }
      .boxSobreMi .sobreMi p {
        font-size: 1.5rem;
        padding: 0 40px; }
  .boxConoceme {
    margin-top: 300px; }
    .boxConoceme .conoceme {
      width: 100%;
      height: 430px; }
      .boxConoceme .conoceme h2 {
        font-size: 2rem; }
      .boxConoceme .conoceme p {
        font-size: 1.5rem;
        padding: 0 40px; }
  .boxSobreMi:first-child .sobreMi {
    background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/mecanica.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .boxSobreMi:nth-child(2) {
    margin-top: 80px; }
    .boxSobreMi:nth-child(2) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/cs.png);
      background-repeat: no-repeat;
      background-size: cover; }
  .boxSobreMi:nth-child(3) {
    margin-top: 80px; }
    .boxSobreMi:nth-child(3) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/viajar.png);
      background-repeat: no-repeat;
      background-size: cover; }
  .boxSobreMi:nth-child(4) {
    margin-top: 80px; }
    .boxSobreMi:nth-child(4) .sobreMi {
      background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.76)), url(../assets/img/pesca1.png);
      background-repeat: no-repeat;
      background-size: cover; }
  .boxHabilidades {
    width: 100%;
    height: 800px;
    margin-top: 250px; }
  .front .img1, .boxHabilidades .front .img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .back .img3, .boxHabilidades .back .img4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .container-form .form {
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 250px;
    padding-bottom: 30px;
    border-radius: 3px; }
  .footer-contact .redes-sociales {
    height: 80px; }
  .footer-contact .imgRedes img {
    width: 35px;
    height: 35px; } }

@media (max-width: 425px) {
  .container-global, .container-global-html {
    height: 100vh; }
  .container-global-html {
    height: 100%; }
  header .navBar li {
    padding: 5px; }
  header .navBar a {
    font-size: 15px; }
  header .banner {
    margin-left: 0; }
    header .banner h1 {
      font-size: 1.5rem; }
  main {
    margin-bottom: -400px; }
  .boxSobreMi {
    margin-top: 150px; }
    .boxSobreMi .sobreMi {
      height: 177px;
      padding-top: 0; }
      .boxSobreMi .sobreMi h2 {
        font-size: 1.5rem; }
      .boxSobreMi .sobreMi p {
        padding: 0 10px;
        font-size: .8rem; }
  .boxSobreMi:nth-child(2) {
    margin-top: -100px; }
    .boxSobreMi:nth-child(2) .sobreMi h2 {
      font-size: 1.3rem; }
  .boxSobreMi:nth-child(3) {
    margin-top: -100px; }
  .boxSobreMi:nth-child(4) {
    margin-top: -100px; }
  .boxConoceme {
    margin-top: 150px; }
    .boxConoceme .conoceme {
      height: 200px;
      padding-top: 0; }
      .boxConoceme .conoceme h2 {
        font-size: 1.5rem; }
      .boxConoceme .conoceme p {
        padding: 0 10px;
        font-size: .8rem; }
  .boxConoceme:nth-child(2) {
    margin-top: -100px; }
    .boxConoceme:nth-child(2) .conoceme h2 {
      font-size: 1.3rem; }
  .boxConoceme:nth-child(3) {
    margin-top: -100px; }
  main .boxHabilidades {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); }
    main .boxHabilidades h2 {
      grid-row: auto;
      grid-column: 1/4;
      width: 200px;
      margin-left: 15px; }
    main .boxHabilidades img {
      width: 50px;
      height: 50px; }
    main .boxHabilidades .front {
      grid-row: 2;
      grid-column: 1/4;
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-rows: auto; }
      main .boxHabilidades .front h3 {
        grid-row: 1; }
      main .boxHabilidades .front .img1, main .boxHabilidades .front .img2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
      main .boxHabilidades .front .img2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 75px; }
    main .boxHabilidades .back {
      grid-row: 3;
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto; }
      main .boxHabilidades .back h3 {
        grid-row: 1; }
      main .boxHabilidades .back .img3, main .boxHabilidades .back .img4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
      main .boxHabilidades .back .img4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 75px; }
    main .boxHabilidades .frameworks {
      grid-row: 4;
      grid-column: 1/4;
      grid-template-rows: auto;
      padding-bottom: 140px; }
  .container-form .form {
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 227px;
    padding-bottom: 30px;
    border-radius: 3px; }
  .container-form .form .form-main .form-tittle {
    text-align: center;
    padding: 4px 0; }
  .container-form .form .form-label {
    display: block;
    color: #ff851b;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    position: relative; }
  .container-form .form .form-input, .form-textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    font-family: "Roboto", sans-serif; }
  .container-form .form .btn-submit {
    width: 100%;
    font-family: "Roboto", sans-serif;
    outline: none;
    background: #ff851b;
    font-size: 12px;
    border: none;
    color: #000;
    padding: 8px 0;
    cursor: pointer;
    transition: all .5s ease; }
  .footer .redes-sociales, .footer-contact .redes-sociales, .footer-index .redes-sociales, .footer-contact-2 .redes-sociales {
    height: 74px; }
  .footer img, .footer-contact img, .footer-index img, .footer-contact-2 img {
    width: 25px;
    height: 25px; }
  .footer .copyright, .footer-contact .copyright, .footer-index .copyright, .footer-contact-2 .copyright {
    margin-top: 5px; }
  .footer .copyright h4, .footer-contact .copyright h4, .footer-index .copyright h4, .footer-contact-2 .copyright h4 {
    font-size: 0.8rem; }
  .footer-contact {
    margin-top: 590px; }
  .footer-index {
    margin-top: 690px; } }
