$font-family-title: 'Alice', serif;
$font-family-text:'Nanum Gothic', sans-serif;
$font-family-secundary: 'Bebas Neue', cursive;
$font-family-roboto: 'Roboto', sans-serif;
$color: #ffa237;
$background: rgba(0,0,0, 0.7);