.container-global {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
    rgb(82, 82, 82) 0%,
    rgb(19, 23, 24) 25%,
    rgb(21, 26, 29) 50%,
    rgb(138, 138, 138) 100%);
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.container-global-html{
    @extend .container-global;
}