main {
    width: 100%;

    .button-conoceme{
        display: flex;
        justify-content: center;
        margin-top: 150px;
        a{  
            padding: 0 10px;
            border-radius: 10px;
            font-size: 30px;
            font-family: $font-family-roboto;
            text-decoration: none;
            color: $color;
            background: rgba(0,0,0, 0.7);
            box-shadow: 2px 2px 19px 6px rgba(254,254,255,0.7);
            transition: all .3s ease;
            &:hover{
                font-size: 35px;
                padding: 10 20px;
                box-shadow: 2px 2px 19px 6px rgba(0,0,0,0.7);
            }
        }
    }
}

.boxSobreMi {
    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px;
}
.boxConoceme{
    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px;;
}
.sobreMi{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0, 0.7);
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        color: $color;
        font-family:$font-family-secundary;
        font-size: 3rem;
        word-spacing: 10px;
    }
    p {
        color: $color;
        font-size: 2rem;
        font-family:$font-family-secundary;
        padding: 40px;
        word-spacing: 2px;
    }
}
.conoceme{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0, 0.7);
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        color: $color;
        font-family:$font-family-secundary;
        font-size: 3rem;
        word-spacing: 10px;
    }
    p {
        color: $color;
        font-size: 2rem;
        font-family:$font-family-secundary;
        padding: 40px;
        word-spacing: 2px;
    }
}

.boxHabilidades {
    width: 100%;
    height: 800px;
    margin-top: 150px;
    padding-bottom: 20px;
    column-gap: .5em;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 10% 90%;


        h2 {
            font-family: "Bebas Neue", cursive;
            border-radius: .5em;
            grid-row: 1;
            width: 18em;
            height: 2em;
            padding-top: 0.5em;
            grid-column: 3;
            align-self: center;
            justify-self: center;
            color: $color;
            text-align: center;
            background: rgba(0,0,0, 0.7);
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 4px 4px 13px 6px rgba(211, 211, 211, 0.6);
        }
        .front{
                border-radius: 0.5em;
                background: rgba(0,0,0, 0.7);
                border: 1px solid #ffa237;
                grid-column: 2;
                grid-row: 2;
                row-gap: 35px;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 50px repeat(2, 250px);

                h3{ 
                    padding-top: .5em;
                    color: $color;
                    text-align: center;
                    font-family: $font-family-secundary;
                }
                .img1{
                    display: flex;
                    justify-content: space-around;
                }
                .img2{
                    @extend .img1;
                }
        }
        .back{
            border-radius: 0.5em;
            background: rgba(0,0,0, 0.7);
            border: 1px solid $color;
            grid-column: 3;
            grid-row: 2;
            row-gap: 35px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50px repeat(2, 250px);
            h3{
                padding-top: .5em;
                color: $color;
                text-align: center;
                font-family: $font-family-secundary;
            }
            .img3{
                display: flex;
                justify-content: space-around;
            }
            .img4{
                @extend .img3;
            }
        }
        .frameworks{
            border-radius: 0.5em;
            background: rgba(0,0,0, 0.7);
            border: 1px solid $color;
            grid-column: 4;
            grid-row: 2;
            row-gap: 35px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50px repeat(2, 250px);
            }
            h3{
                padding-top: .5em;
                color: $color;
                text-align: center;
                font-family: $font-family-secundary;
            }
            .img5 {
                display: flex;
                justify-content: center;
            }
            
        }