@media (max-width: 375px){

    .container-global{
        height: 100%;
    }
    .container-global-html{
        height: 100%;
    }




    .footer-index {
        margin-top: 709px;
    }
    
    .footer-contact{
        margin-top: 608px;
    }
    

}