@media (max-width: 2560px){
    
    .container-global{
        height: 100%;
    }

    .boxSobreMi:first-child {
        .sobreMi {
            background-image: linear-gradient(rgba(5, 7, 12, .30), rgba(5, 7, 12, .76)), url(../assets/img/mecanica.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    .boxSobreMi:nth-child(2) {
        margin-top: 150px;

        .sobreMi {
            background: linear-gradient(rgba(5, 7, 12, .30), rgba(5, 7, 12, .76)), url(../assets/img/cs.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    .boxSobreMi:nth-child(3) {
        margin-top: 150px;

        .sobreMi {
            background: linear-gradient(rgba(5, 7, 12, .30), rgba(5, 7, 12, .76)), url(../assets/img/viajar.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    .boxSobreMi:nth-child(4) {
        margin-top: 150px;

        .sobreMi {
            background: linear-gradient(rgba(5, 7, 12, .30), rgba(5, 7, 12, .76)), url(../assets/img/pesca1.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    .footer-index {
        margin-top: 313px;
    }
}